Hypercorn==0.18.0
starlette==1.0.0
redis==7.4.0
taskiq==0.12.2
taskiq-redis==1.2.2
uvloop==0.22.1
sqlalchemy==2.0.49
asyncpg==0.31.0
ldap3==2.9.1
pydantic==2.13.3
pytz==2026.1.post1
jinja2==3.1.6
pyaml==26.2.1
tenacity==9.1.4
python-dateutil==2.9.0.post0
sqlmodel==0.0.38
python_multipart==0.0.26
email_validator==2.3.0
emails==1.1.1
httpx==0.28.1
orjson==3.11.8
setproctitle==1.3.7


